<%- include("partials/head.ejs")%>

<body>
    <div class="container" id="bodyform">
        <h1 class="titulodeform">Estás modificando: <%=producto.nombre%></producto.nombre></h1>
    <form action="/productos/editar/<%=producto.id%>"" method="POST" enctype="multipart/form-data">
        <div class= "row" id="nombreDelFormulario">
            <div class="col-12">
            <label for="">NOMBRE</label>
            <input type="text" name="nombre" value="<%=producto.nombre%>" id="campos">
            </div>
        </div>
        <div class= "row">
            <div class= "col-12" id="materialesDelFormulario">
            <label for="">MATERIALES</label>
            <input type="text" name="materiales"value="<%=producto.materiales%>"  id="campoDelmaterial">
            </div>
        </div>
        <div class= "row">
            <div class="col-12" id= "categoriaDelformulario">
                <label for="">categoria</label>
                <select name="categoria" id="inputCategoria">
                    <% for (let i = 0; i < categoria.length; i++){%>
                        <option value="<%=categoria[i].id_categoria%>">
                           <%=categoria[i].nombre%>
                        </option>
                    <% } %>                   
                                  
                </select>
             </div> 
        </div>
        <div class="row">
            <div class= "col-6" id="colorDelformulario">
                <label for="">COLOR</label>
                 <input type="text" name="color"value="<%=producto.color%>"  id="campoDelColor">
            </div>
             <div class= "col-3" id="stockDelformulario">
                <label for="">STOCK</label>
                <input type="value" name="stock" value="<%=producto.stock%>"  id="campoDelstock">
            </div>
        </div>
       
        <div class="row">
            <div class="col-6"id="labeldemedidas">
            <label for="">MEDIDAS</label>
            <input type="value" name="medidas" value="<%=producto.medidas%>" id="campoDeLasMedidas">
        </div>
        <div class="col-3">
            <label for="">PRECIO</label>
            <input type="value" name="precio" value="<%=producto.precio%>" id="campoDelPrecio">
        </div>
        </div>

        <div class="row">
            <div class=col-4 id="descripciondelformulario">
                <label for="" id="descripcionlabel">DESCRIPCION</label>
            </div>
        </div>
        <div class="row"> 
                <div class="col-12">   
            <textarea name="descripcion" value="<%=producto.descripcion%>" id="campoDelTexto"></textarea>
                </div>
        </div>
       <div class="cargaImagen">
            <label for="">CARGAR IMAGEN</label>
            <input type="file" name="imagen" value="<%=producto.imagen%>"  id="inputdelaimagen">
          </div>
          
        
        <div>
            <button type="submit" class="btn btn-outline-dark" id="guardarformulario">MODIFICAR</button>
            </div>
    </form>
    </div>
  </body>
</html>
